body, html {
    height: 100%;
    margin: 0;
}

.bg {
    /* The image used */
    background-image: url("https://images.pexels.com/photos/957575/pexels-photo-957575.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
     width: 100%;
    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
     margin-top: 53px;
}
.bg-purple{
    background-color:#6b5b95;

}
.navbar-brand{
   font-size:18px;
   padding: 2px 6px 2px 6px;
   color:#ffdd99; 
    border: 1px solid #ffdd99;/* GOLDEN WALA*/
}
.nav-link{
    font-weight:600 ;
    font-size:15px;
    color:#ffffff;
}
.navbar .nav-item a:hover{
    background-color:#ffffff;
    color:#6b5b95;/*PURPLE*/
}
.navbar a:hover{
    
    background-color:#ffdd99;
    color:#6b5b95;
    border:1px solid #6b5b95;

}

.container{
    margin-left:50px;
    margin-right:160px;
}

/*ICON BAR STARTS................*/
.container{
    margin-left:70px;
    margin-right:70px;
}
.icon-bar {
    width: 45px;
    background-color: #555;
    position: fixed; /* Set the navbar to fixed position */
    top: 150px; /* Position the navbar at the top of the page */
}

.icon-bar a {
    display: block;
    text-align: center;
    padding: 10px;
    transition: all 0.3s ease;
    color: white;
    font-size: 31px;
}
.icon-bar a:hover {
    background-color: #ffdd99;/*GOLDEN COLOR WALA*/
}

.active {
    background-color: #6b5b95;/*PURPLE COLOUR*/
}
/*ICON BAR WAL SECTION ENDS */

/*SIDE NAV BAR BEGINS*/
.sidenav {
    height: 100%;
    width: 150px;
    position: fixed;
    z-index: 0; /* STACK ORDER OF AN ELEMENT*/
    top: 1;
    right:0;
    background-color: #555;/*LIGTH BLACK GREY WALA COLOUR*/
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 8px 8px 6px 16px;
    text-decoration: none;
    font-size: 18px;
    font-weight:600;
    color: #ffffff;
    display: block;
}

.sidenav a:hover {
    background-color:#ffdd99;
    color:#000000;
}

/*SIDE NAVBAR ENDS*/



#tanya{
    position: fixed;
    bottom: 0;
    background:#6b5b95 ;
    margin: auto 0 auto 0 ;
    height: 30px;
     color:#ffffff;
    padding-left:5%;
    padding-right: 43%;
    
}
.raj{
    font-size: 120px;
    color: #6b5b95;

}
.ravi a:hover{
    color:#000000;
}
.ravi{
    color: #ffffff;
}